.navwrap {
  height: 50px;
}

nav ul li a {
  color: #ffff;
  font-family: "Arimo", serif;
  font-size: 1.2em;
}

nav ul li a:hover {
  color: #3399ff;
}

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"],
.sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  color: white;
}

.custom {
  background-color: #002856;
}

ul#mobile-demo li a {
  color: #fff;
  font-family: "Glegoo", serif;
}
.sidenav {
  background-color: rgba(0, 40, 86, 0.5);
}

.sticky-nav {
  position: fixed;
  top: 0;
  z-index: 1;
  transition: top 0.3s ease-in;
}

.nav-down {
  top: -50px;
}

#dudum {
  height: 60px;
  padding-top: 5px;
}

.card-title {
  font-family: "Glegoo", serif;
}

#overlay {
  margin: 0 0 10px 10px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Glegoo", serif;
  color: #002856;
}

p,
.btn {
  font-family: "Arimo", sans-serif;
}

p.title {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

.greet {
  color: #3399ff;
  text-align: justify;
}

.rise {
  margin-top: -1.3em;
}
a.btn-large {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  border-color: #002856;
  color: #002856;
  font-family: "Glegoo", serif;
  font-weight: bold;
  z-index: 0;
}

a.btn-large:hover {
  background-color: #3399ff;
  color: #002856;
}

i:hover {
  color: #3399ff;
}
.small {
  font-size: 1.1em;
  font-weight: 600;
  color: #002856;
  text-align: justify;
}

.three {
  color: #002856;
}

.light {
  background-color: #e0e0e0;
}

.white-text {
  font-family: "Glegoo", serif;
}

.social {
  padding-top: 25px;
}

.fb_iframe_widget {
  padding-bottom: 25px;
}
#contact {
  margin-bottom: 25px;
}

@media only screen and (max-width: 1156px) {
  nav ul li a {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1384px) {
  #overlay {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 611px) {
  #dudum {
    height: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .btn {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 650px) {
  button.btn {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 613px) {
  .rise {
    margin-top: 20px;
  }
}
