html {
  scroll-behavior: smooth;
}

.navwrap {
  height: 50px;
}

nav ul li a {
  color: #ffff;
  font-family: "Arimo", serif;
  font-size: 1.2em;
}

nav ul li a:hover {
  color: #3399ff;
}

.custom {
  background-color: #011e41;
}

ul#mobile-demo li a {
  font-family: "Glegoo", serif;
  color: #fff;
}
ul.sidenav {
  background-color: rgba(0, 40, 86, 0.5);
}

.sticky-nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: top 0.3s ease-in;
}

.nav-down {
  top: -50px;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #00b2e3;
  background-color: #011e41;
}

#dudum {
  height: 150px;
  padding-top: 5px;
}

.title {
  background-color: #011e41;
}

img#mainimg {
  margin-top: 80px;
}

.card-title {
  font-family: "Glegoo", serif;
}

#overlay {
  margin: 0 0 10px 10px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Glegoo", serif;
  color: #011e41;
}

p,
.btn {
  font-family: "Arimo", sans-serif;
}

#overlay {
  font-size: 3em;
}

p.title {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

.greet {
  color: #00b2e3;
  text-align: justify;
}

.rise {
  margin-top: -1.3em;
}
a.btn-large {
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  border-color: #011e41;
  color: #011e41;
  font-family: "Glegoo", serif;
  font-weight: bold;
  z-index: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}

a.btn-large:hover {
  background-color: #00b2e3;
  color: #fff;
  border-color: transparent;
}

i:hover {
  color: #00b2e3;
}
.small {
  font-size: 1.1em;
  font-weight: 600;
  color: #011e41;
  text-align: justify;
}

.three {
  color: #011e41;
}

.three1 {
  color: white;
}

.light {
  background-color: #e0e0e0;
}

.bottom {
  margin-left: 12px;
}

.white-text {
  font-family: "Glegoo", serif;
}

.social {
  padding-top: 25px;
}

.fb_iframe_widget {
  padding-bottom: 25px;
}
#contact {
  margin-bottom: 25px;
}

.carousel .indicators .indicator-item {
  background-color: #011e41;
}

.carousel .indicators .indicator-item.active {
  background-color: #fff;
  border: 1px solid #00b2e3;
}

.page-footer {
  background-color: #011e41;
}

#footlogo {
  height: 250px;
}

@media only screen and (max-width: 1156px) {
  nav ul li a {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1384px) {
  #overlay {
    font-size: 2em;
  }
}

@media only screen and (max-width: 533px) {
  #dudum {
    height: 90px;
  }
}

@media only screen and (max-width: 650px) {
  .btn {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 650px) {
  button.btn {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 613px) {
  .rise {
    margin-top: 20px;
  }
}
